@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script&family=Lobster&display=swap');

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}
/*
*****Layout*****
*/
#area_cabecalho{
    background-color: rgb(248, 246, 247);
    padding: 15px;
    background-image: url("../_images/fundo.png");
}
#area_menu{
    text-align: center;
    text-transform: uppercase;
}
#area_principal{
    background: #e6e6e6;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area_postagem{
    width: 600px;
    float: left;
}

#area_lateral{
    width: 240px;
    float: right;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo_lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}
#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #90c3e7;
}
.postagem_lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #90c3e7;
}

/*
*****Formatação menu*****
*/
a{
    text-decoration: none;
}

a:link, a:visited{
    color: #90c3e7;
    padding: 8px 12px;
}
a:hover{
    color: #90c3e7;
    text-decoration: underline;
}

#area_cabecalho a:link, #area_cabecalho a:visited{
    color: #90c3e7;
    padding: 8px 12px;
}
#area_cabecalho a:hover{
    color: rgb(248, 246, 247);
    background: pink;
    border-radius: 5px;
    text-decoration: none;
}

/*
*****Formatações em geral*****
*/
h2{
    color: #90c3e7;
}
h3{
    color: white;
    background: #90c3e7;
    padding: 5px;
}
.data_postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

