@charset "utf-8";
body{
    
    background-color: pink;
    color: rgba(0, 0, 0, 1)


}
p{
    text-align: justify;
    text-indent: 50px;
   
    
}




figure.foto-fundo{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-fundo img{
    width: 100%;
    height: 100%;

}

figure.foto-fundo figcaption{
    opacity:0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;


}
figure.foto-fundo:hover figcaption{
    opacity: 1;
}